html {
  font-family: 'Montserrat';
    background: #0D0D0D;
}

body {
  overflow-x: hidden;
  margin: 0;
}

header {
  height: 100px;
  color: white;
  font-size: 128px;
  font-weight: 900;
}

h1 {
  font-size: 160px;
  color: white;
}

article {
  display: flex;
  position: relative;
  padding: 10px;
  margin: 10px;
  left: 160px;
  top: 200px;
  flex: 100px;
}

article2 {
  display: flex;
  position: relative;
  padding: 10px;
  margin: 10px;
  left: 160px;
  top: 700px;
  flex: 100px;
}

article:hover, article2:hover {
  background-color: rgb(217, 217, 217, .1);
  margin-right: -140px;
  padding-left: 50px;
  transition: all .5s ease;
  -webkit-transition: all .4s ease;
}

section {
  display: flex;
  flex-direction: column;

  top: 1000px;
}

.container {
  position: relative;
  width: 1440px;
  height: 2650px;
  left: -10px;
}

@keyframes movingUpDown {
  0% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 931px;
    top: 460px;
  }
  50% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 931px;
    top: 100px;
  }
  100% {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 931px;
    top: 460px;
  }
}

/*intro block*/
.iblock {
  position: relative;
  width: 2000px;
  height: 980px;

  background-image: url('imgs/logo.png');
  background-size: 1200px;
  background-position: center;
  background-repeat: no-repeat;

}

/*Angel Yu*/
.name {
  position: absolute;
  width: 1334px;
  height: 400px;
  top: 550px;
  right: -5px;
  text-align: left;

  font: Montserrat;
  font-weight: 700;
  font-size: 250px;
  letter-spacing: -0.08em;
  color: white;
}

/*interaction*/
.interaction {
  position: absolute;
  width: 1500px;
  height: 200px;
  top: 870px;
  left: -80px;

  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 2.3em;
  color: white;
}

/*exercises*/

.eblock {
  position: absolute;
  width: 2000px;
  height: 1200px;
  top: 960px;
  background-color: #3C503B;
}

.exercises {
  position: absolute;
  left: 95px;
  top: 1060px;

  font-size: 160px;
  font-weight: 700;
}

/*numbers*/
.e, .p {
  font-size: 40px;
  font-weight: 200;
  color: white;
}


.date {
  position: absolute;
  width: 100%;
  right: 0%;
  left: 700px;

  font-size: 30px;
  font-weight: 200;
  letter-spacing: .1em;
  text-align: center;
  color: white;
}

/*All Html + Animation*/
.dropbtn {
  border: none;

  font-size: 55px;
  color: white;
  opacity: 0.6;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-left: 190px;

  letter-spacing: .1em;
  font-size: 55px;
  color: white;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 120px;
}

.dropdown-content a {
  padding: 10px;
  text-decoration: none;
  display: block;

  font-size: 25px;
  color: white;
}

.dropdown-content a:hover {
  color: white;
  opacity: 0.4;
  transition: all .5s ease;
  -webkit-transition: all .4s ease;
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all .8s ease;
-webkit-transition: all .8s ease;
}

/*Exercise Articles*/
.hoverstates, .still-life, .iframe {
  position: relative;
  text-decoration: none;
  padding-left: 190px;

  font-size: 55px;
  letter-spacing: .1em;
  color: white;
}

/*Projects*/
.projects {
  position: absolute;
  left: 95px;
  top: 2300px;

  font-size: 160px;
  font-weight: 700;
}

  /*Projects Articles*/

.harmonic {
  position: absolute;
  text-decoration: none;
  padding-left: 190px;

  font-size: 55px;
  letter-spacing: .1em;
  color: white;
}

.github {
  position: absolute;
  padding-left: 300px;
  top: 2800px;

  font-size:55px;
  text-align: right;
  color: white;
  text-decoration: none;
  letter-spacing: .1em;
}

.email {
  position: absolute;
  padding-left: 600px;
  top: 2800px;

  font-size:55px;
  text-align: right;
  color: white;
  text-decoration: none;
  letter-spacing: .1em;
}